name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    uses: AlexMan123456/github-actions/.github/workflows/pnpm-ci.yml@d6e6c485433f62610cb8e7603d68b78ab3b3fa71 # v2.4.1
    with:
      run-tests: false
